.comment-form-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: "Oswald", sans-serif;
    justify-content: center;
    margin: 20px;
}

.comment-form-container button {
    display: inline;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #717731;
    border-radius: 4px;
    color: #FFFFF0;
}

.comment-form-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #000000;
}

.comment-form-container textarea {
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    width: 400px;
    height: 50px;
    border-radius: 4px;
    align-items: flex-start;
    justify-content: flex-start;
}